In [1]:
import os
import pandas as pd
import numpy as np

data = pd.read_csv(r'C:\Users\Vaibhav\Desktop\hackathon1\BankChurners.csv')
data
data.isnull().sum()
# so none of the data has any null columns

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

In [2]:
data

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [3]:
data['Attrition_Flag'].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [4]:
data['Gender'].unique()

array(['M', 'F'], dtype=object)

In [5]:
data['Education_Level'].unique()

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [6]:
data['Marital_Status'].unique()

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

In [7]:
data['Income_Category'].unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [8]:
data['Card_Category'].unique()

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [9]:
# for i in range(len(data)):
#     if(data['Attrition_Flag'].iloc[i] == 'Existing Customer'):
#         data['Attrition_Flag'].iloc[i] = 1
#     elif(data['Attrition_Flag'].iloc[i] == 'Attrited Customer'):
#         data['Attrition_Flag'].iloc[i] = 0
    
#     if(data['Gender'].iloc[i] == 'M'):
#         data['Gender'].iloc[i] = 1
#     elif(data['Gender'].iloc[i] == 'F'):
#         data['Gender'].iloc[i] = 0
    
#     if(data['Education_Level'].iloc[i] =='Uneducated'):
#         data['Education_Level'].iloc[i] = 0
#     elif(data['Education_Level'].iloc[i] =='High School'):
#         data['Education_Level'].iloc[i] = 1
#     elif(data['Education_Level'].iloc[i] =='College'):
#         data['Education_Level'].iloc[i] = 2
#     elif(data['Education_Level'].iloc[i] =='Unknown'):
#         data['Education_Level'].iloc[i] = 3
#     elif(data['Education_Level'].iloc[i] =='Graduate'):
#         data['Education_Level'].iloc[i] = 4
#     elif(data['Education_Level'].iloc[i] =='Post-Graduate'):
#         data['Education_Level'].iloc[i] = 5
#     elif(data['Education_Level'].iloc[i] =='Doctorate'):
#         data['Education_Level'].iloc[i] = 6

#     if(data['Marital_Status'].iloc[i] == 'Single'):
#         data['Marital_Status'].iloc[i] = 0
#     elif(data['Marital_Status'].iloc[i] == 'Divorced'):
#         data['Marital_Status'].iloc[i] = 1
#     elif(data['Marital_Status'].iloc[i] == 'Unknown'):
#         data['Marital_Status'].iloc[i] = 2
#     elif(data['Marital_Status'].iloc[i] == 'Married'):
#         data['Marital_Status'].iloc[i] = 3

#     if(data['Income_Category'].iloc[i] == 'Less than $40K'):
#         data['Income_Category'].iloc[i] = 0
#     elif(data['Income_Category'].iloc[i] == '$40K - $60K'):
#         data['Income_Category'].iloc[i] = 1
#     elif(data['Income_Category'].iloc[i] == '$60K - $80K'):
#         data['Income_Category'].iloc[i] = 2
#     elif(data['Income_Category'].iloc[i] == 'Unknown'):
#         data['Income_Category'].iloc[i] = 3
#     elif(data['Income_Category'].iloc[i] == '$80K - $120K'):
#         data['Income_Category'].iloc[i] = 4
#     elif(data['Income_Category'].iloc[i] == '$120K +'):
#         data['Income_Category'].iloc[i] = 5

#     if(data['Card_Category'].iloc[i] == 'Blue'):
#         data['Card_Category'].iloc[i] = 0
#     elif(data['Card_Category'].iloc[i] == 'Silver'):
#         data['Card_Category'].iloc[i] = 1
#     elif(data['Card_Category'].iloc[i] == 'Gold'):
#         data['Card_Category'].iloc[i] = 2
#     elif(data['Card_Category'].iloc[i] == 'Platinum'):
#         data['Card_Category'].iloc[i] = 3

data['Attrition_Flag'] = np.where(data['Attrition_Flag'] == 'Existing Customer', 1, 0)
data['Gender'] = np.where(data['Gender'] == 'M', 1, 0)

education_mapping = {'Uneducated': 0,'High School': 1,'College': 2,'Unknown': 3,'Graduate': 4,'Post-Graduate': 5,'Doctorate': 6}
data['Education_Level'] = data['Education_Level'].map(education_mapping)

marital_status_mapping = {'Single': 0,'Divorced': 1,'Unknown': 2,'Married': 3}
data['Marital_Status'] = data['Marital_Status'].map(marital_status_mapping)

income_category_mapping = {'Less than $40K': 0,'$40K - $60K': 1,'$60K - $80K': 2,'Unknown': 3,'$80K - $120K': 4,'$120K +': 5}
data['Income_Category'] = data['Income_Category'].map(income_category_mapping)

card_category_mapping = {'Blue': 0,'Silver': 1,'Gold': 2,'Platinum': 3}
data['Card_Category'] = data['Card_Category'].map(card_category_mapping)

In [10]:
print(data.head())

   CLIENTNUM  Attrition_Flag  Customer_Age  Gender  Dependent_count  \
0  768805383               1            45       1                3
1  818770008               1            49       0                5
2  713982108               1            51       1                3
3  769911858               1            40       0                4
4  709106358               1            40       1                3

   Education_Level  Marital_Status  Income_Category  Card_Category  \
0                1               3                2              0
1                4               0                0              0
2                4               3                4              0
3                1               2                0              0
4                0               3                2              0

   Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
0              39  ...       12691.0                  777          11914.0
1              44  ...        8256.0                  864           7392.0
2              36  ...        3418.0                    0           3418.0
3              34  ...        3313.0                 2517            796.0
4              21  ...        4716.0                    0           4716.0

   Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  \
0                 1.335             1144              42                1.625
1                 1.541             1291              33                3.714
2                 2.594             1887              20                2.333
3                 1.405             1171              20                2.333
4                 2.175              816              28                2.500

   Avg_Utilization_Ratio  \
0                  0.061
1                  0.105
2                  0.000
3                  0.760
4                  0.000

   Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
0                                           0.000093
1                                           0.000057
2                                           0.000021
3                                           0.000134
4                                           0.000022

   Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                            0.99991
1                                            0.99994
2                                            0.99998
3                                            0.99987
4                                            0.99998

[5 rows x 23 columns]

In [11]:
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score,accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor

In [12]:
X = data[["Attrition_Flag","Customer_Age","Gender","Dependent_count","Education_Level","Marital_Status","Income_Category","Card_Category","Months_on_book","Total_Relationship_Count","Months_Inactive_12_mon","Contacts_Count_12_mon","Credit_Limit","Total_Revolving_Bal","Avg_Open_To_Buy","Total_Amt_Chng_Q4_Q1","Total_Trans_Amt","Total_Trans_Ct","Total_Ct_Chng_Q4_Q1","Avg_Utilization_Ratio"]]
y = data["Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"]

scaler = StandardScaler()
scaler.fit_transform(X)

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

model = RandomForestRegressor()

model.fit(x_train,y_train)

y_pred = model.predict(x_test)